
.group {
    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.email, .password {
    float: left;
    width: 50%;
}
.password {
    margin-left: 10px;
}
.address1, .address2 {
    width: 100%;
}
input[type="text"], select {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(224, 221, 221);
    width: 100%;
}
.city {
    width: 50%;
    margin-right: 10px;
}
.state { 
    width: 30%;
    margin-right: 10px;
}
.zip {
    width: 20%;
}
input[type="button"] {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #007bff;
    background: #007bff;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               