.header { color: white;
            background: black;
            text-align: center;
            height: 50px;}
,header1 {  color:white;
            background: gray;
            margin-left: 20px;
            height: 10px;}
