.header, .footer { 
  color: white;
  background: black;
  text-align: center;
  height: 50px;}
.footer { font-size: 40px}
.header2 {
  color:white;
  background: gray;
  padding-left: 100px;
  height: 30px;
  font-size: 25px;
}
.container { 
  color: black;
  width: 100%;
  height: 350px;
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
/* Huy added */
.main-content , .sidebar  {
  float: left;
  width: 45%;
  height: 100%;
  text-align: center;
}
.main-content  {
  background: #224451;
  margin-right: 20px;
}
.sidebar  {
  background: #600211;
}
.container .main-content  {
  background: green;
}
body .container .main-content  {
  background: yellow;
}
.main-content h3, .sidebar h4 { 
  margin-top: 150px;
}